@charset "utf-8";


:root{
    --main-color-1:#007aff;
    --main-color-2:#FF7F00;
    --main-color-3:#fff;
    --main-color-4:#222222;
    --main-color-5:#2DB400;
    --main-color-6:#929292;
    --main-color-7:#616161;
    --main-color-8:#F5F5F5;
    --main-color-9:#F6F8F9;
    --main-color-10:#424242;

    --box-shadow1: rgba(255, 255, 255, 0.8);
    --box-shadow2: 0.2rem 0.2rem 1.2rem rgba(0,0,0,0.12);
    
}

/* .container{
    width: 1300px;
    margin: 0 auto;
    position: relative;
} */



/* header */

/* visual */

/* sec1st */

/* footer */


