@import "style.css";
@import "font.css";

#section1 {
  max-width: 144rem;
  margin: 0 auto;
  margin-top: 80px;
  padding: 140px 60px 80px;
  position: relative;
}

#section1 .text-box {
  row-gap: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#section1 .text-box span {
  color: var(--main-color-2);
}

#section1 .title {
  font-size: 1.8rem;
}

#section1 .visual-text {
  @media (max-width: 768px) {
    font-size: 40px;
  }
  font-size: 7rem;
  font-weight: bold;
  /* line-height: 90px; */
}

#section1::before {
  content: "";
  width: 50.5rem;
  height: 30.8rem;
  background: url(../images/sec1-bg.png) no-repeat right / contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-34%);
  z-index: -1;
}

#section1 .bottom {
  font-size: 1.8rem;
  line-height: 1.6;
}

#section1 .scroll .arrow {
  width: 2.8rem;
  height: 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #222;
  border-radius: 5rem;
}

#section1 .scroll .arrow em {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #ff7f00;
  flex-shrink: 0;
  margin-bottom: 0.4rem;
}

#section1 .scroll {
  @media (max-width: 768px) {
    justify-content: center;
  }
  display: flex;
  align-items: center;
  gap: 1rem;
}

#section1 .scroll .arrow span {
  width: 0.5rem;
  height: 0.5rem;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2.5s infinite;
  opacity: 0;
}

#section1 .scroll .arrow span:nth-of-type(2) {
  animation-delay: 0.15s;
}

#section1 .scroll .arrow span:nth-of-type(3) {
  animation-delay: 0.3s;
}
