#section2 {
    background-color: var(--main-color-9);
    padding: 12rem 0;
    position: relative;
    overflow: hidden;
}

#section2::before {
    content: "";
    width: 20rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, #F6F8F9 27%, rgba(245, 245, 245, 0) 100%);
    transform: rotate(180deg);
    z-index: 1;
}


#section2::after {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #F6F8F9 93%, rgba(245, 245, 245, 0) 100%);
    z-index: 1;
}

#section2 .layout {
    width: 144rem;
    margin: 0 auto;
}

#section2 .layout .title {
    margin-bottom: 6rem;
    position: relative;
    z-index: 2;
}

#section2 .layout .title h3{
    font-style: normal;
    font-weight: bold;
    font-size: var(--primary-font-1);
    line-height: 1.3; 
}

#section2 .layout .title h3:first-child{
    color: var(--main-color-2)
}

#section2 .layout .title h3:last-child{
    color: var(--main-color-4)
}

#section2 .layout .slide-wrap{
    display: flex;
    flex-direction: column;
}

#section2 .layout .slide-wrap .slide-wrap-btn{
    width: 29.2rem;
    z-index: 2;
    animation-delay: 1s;
}


#section2 .layout .slide-wrap .slide-wrap-btn a{
    width: calc(50% - 0.6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 1.2rem;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    background-color: white;
}

#section2 .layout .slide-wrap .slide-wrap-btn .row:last-child a{
    width: 100%;
    aspect-ratio: 0;
    background-color: var(--main-color-4);
    color: var(--main-color-3);
}

#section2 .layout .slide-wrap .slide-wrap-btn span{
    color: var(--main-color-10);
    font-size: 1.6rem;
    font-weight: 500;
}

#section2 .slide-wrap-slide {
    width: calc(100% - 29.2rem);
    padding-left: 14rem;
    position: relative;
}

.swiper{
    width: 31rem;
    overflow: visible;
    width: 31rem;
    margin: 0;
    z-index: 0;
}

#section2 .swiper-wrapper{
    transition-timing-function: linear;
}


#section2 .slide-wrap .swiper-slide a {
    height: 37.1rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 2.4rem;
    box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.12);
}

#section2 .slide-wrap .swiper-slide a.orange img{
    background: #FFF9F3;
}

#section2 .slide-wrap .swiper-slide a.red img{
    background: #FCF6F6;
}

#section2 .slide-wrap .swiper-slide a.blue img{
    background: #F0F4FB;
}

#section2 .slide-wrap .swiper-slide a .slide-img {
    height: 19.7rem;
    flex-shrink: 0;
}

#section2 .slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section2 .txt {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3.2rem;
}

#section2 .slide-wrap .swiper-slide a .txt-title {
    font-size: 2.6rem;
    color: #424242;
    margin-bottom: 1.6rem;
    letter-spacing: -0.078rem;
}

#section2 .slide-wrap .swiper-slide a .txt-desc {
    color: var(--main-color-7);
}

.px-xl-5 {
    padding: 0 40px !important;
}

.px-xxl-5 {
    padding: 0 60px !important;
}