@charset "utf-8";
html {
    font-size: 62.5%;
  }

:root{
    --main-color-1:#007aff;
    --main-color-2:#FF7F00;
    --main-color-3:#fff;
    --main-color-4:#222222;
    --main-color-5:#2DB400;
    --main-color-6:#929292;
    --main-color-7:#616161;
    --main-color-8:#F5F5F5;
    --main-color-9:#F6F8F9;
    --main-color-10:#424242;

    --box-shadow1: rgba(255, 255, 255, 0.8);
    --box-shadow2: 0.2rem 0.2rem 1.2rem rgba(0,0,0,0.12);
    
}

  
body {
color: #222;
font-family: 'Spoqa Han Sans Neo', sans-serif;
font-size: 1.8rem;
font-weight: 400;
line-height: 1.4;
letter-spacing: -0.03375rem;
margin: 0;
padding: 0;
word-break: keep-all;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}



/* .container{
    width: 1300px;
    margin: 0 auto;
    position: relative;
} */



/* header */

/* visual */

/* sec1st */

/* footer */
.section4{
    background: url(../images/image1.jpg) no-repeat center;
    background-size: cover;
    /* background-attachment: fixed; */
  
    height: 500px;

}

.logo3-img {
    width: 300px important!;
    height: auto;
  }

.logo3-img:hover {
    filter: sepia(1) saturate(1000%) hue-rotate(-20deg) brightness(0.7);
}


/* background: url(/public/images/main/sec4-icon.png) no-repeat center center / contain; */

.footer .btn{
    border-color:#616161
}
.footer .btn:hover {
    background-color: #ddd;
}

.fixed-menu3 {
    position: fixed;
    bottom: 35px;
    right: 40px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
    z-index: 1000;
}

.fixed-menu2 {
    position: fixed;
    bottom: 120px;
    right: 40px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
    z-index: 1000;
}

.fixed-menu1 {
    position: fixed;
    bottom: 205px;
    right: 40px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
    z-index: 1000;
}


.fixed-menu .icon1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 7rem;
    height: 7rem;
    background-color: #FF7F00;
    border-radius: 3.5rem;
    transition: width 0.25s ease;
    overflow: hidden;
    cursor: pointer;
}

.fixed-menu .icon2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 7rem;
    height: 7rem;
    background-color: #2DB400;
    border-radius: 3.5rem;
    transition: width 0.25s ease;
    overflow: hidden;
    cursor: pointer;
}

.fixed-menu .icon3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 7rem;
    height: 7rem;
    background-color: #222222;
    border-radius: 3.5rem;
    transition: width 0.25s ease;
    overflow: hidden;
    cursor: pointer;
}

.fixed-menu .icon1 img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    /* transition: transform 0.25s ease; */
}

.fixed-menu .icon2 img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top:4px;
    /* transition: transform 0.25s ease; */
}

.fixed-menu .icon3 img {
    width: 30px;
    height: 30px;
    margin-left: 21px;
    /* transition: transform 0.25s ease; */
}


.fixed-menu span {
    margin-left: 10px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    color:white
}

.fixed-menu1 .icon1:hover{
    width: 150px; /* 커서를 올렸을 때 아이콘이 확장 */
}

.fixed-menu2 .icon2:hover {
    width: 150px; /* 커서를 올렸을 때 아이콘이 확장 */
}

.fixed-menu3 .icon3:hover {
    width: 150px; /* 커서를 올렸을 때 아이콘이 확장 */
}

/* 이미지가 자연스럽게 오른쪽으로 이동 */

.fixed-menu .icon1:hover span,
.fixed-menu .icon2:hover span,
.fixed-menu .icon3:hover span {
    opacity: 1;
}